<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>男</dd>

                <dt class="text-upper">出生日期</dt>
                <dd>1 January 2000</dd>

                <dt class="text-upper">手机</dt>
                <dd>19825085100</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:xxxx@xx.com">2440229611@qq.com</a></dd>

                <dt class="text-upper">English</dt>
                <dd>CET-4</dd>

                <dt class="text-upper">NCRE</dt>
                <dd>二级C、C++、Java</dd>
				<dd>三级计算机网络</dd>
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->