<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>南京邮电大学</strong>
                        <span>2018 - 2022 |     教育技术学   | 一专</span>
						<span>2018 - 2022 | 计算机科学与技术 | 二专</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>学习教育技术学专业基础知识，主持完成主题为"面向少儿图形化编程的教育软件设计与开发"大学生创新训练计划，获得优秀结题证书一份。
                        </p>
						<p>学习计算机专业基础知识，并获得国家励志奖学金3次，一等奖学金2次，大连市三好学生。
                        </p>
                        <p>作为班级xxx，多次组织班级活动。 作为大学生创新中心赛事部部长，多次联合教育部考试中心组织计算机设计大赛、联合江苏省教育部考试中心组织大学生广告设计大赛、联合校方组织互联网+大赛。
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->